<div class="container" *ngIf ="!isRegisterMode">
    <div class="text-center">
        <h1>Welcome to Dating app</h1>
        <p>You can register for a new account here !</p>
        <div class = "text-center">
            <button class="btn btn-primary" (click)="isRegisterMode = !isRegisterMode">Register</button>
        </div>
    </div>
</div> 
    <div class="container" *ngIf = "isRegisterMode">
        <app-register-form (cancelRegister)="cancelRegisterMode($event)"></app-register-form>
    </div>
